body {
    background: #666;
    margin: 0;
    display: grid;
    grid-template-columns: [first] 1fr [middle] auto [last] 1fr;
    height: 100vh;
    place-items: center;
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

.row {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.space-evenly {
    justify-content: space-evenly;
}

#matchfield {
    border: 1px solid lightblue;
    height: 800px;
    width: 800px;
    margin: 0;
    grid-column: middle;
    position: relative;
}

#renderTime, #tickCounter {
    padding: 10px;
    color: #fff;
    white-space: nowrap;
}

#form {
    padding: 0 30px;
}

label {
    color: #fff;
    min-width: 150px;
    line-height: 30px;
}

input {
    font-size: 20px;
    max-width: 150px;
}

button {
    font-size: 18px;
    border: none;
    padding: 4px 15px;
    transition: background 400ms;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#generate {
    background: lightblue;
}

.start {
    background: lightgreen;
}

.stop {
    background: lightcoral;
}

.person {
    position: absolute;
    background: lightgreen;
    width: 10px;
    height: 10px;
    z-index: 10;
}

.round {
    border-radius: 50%;
}

.infected {
    background: red;
}

.incubating {
    background: lightcoral;
}

.dead {
    background: #333;
    z-index: 1;
}

.cured {
    background: lightskyblue;
}

.column-last {
    grid-column: last;
    height: 800px;
    width: 100%;
}

.column-first {
    grid-column: first;
    place-self: start;
    width: 100%;
}

.first-baseline {
    place-self: first baseline;
}